html {
    font-family: 'Open Sans', sans-serif;
    display: block;
    margin: 0px auto;
    text-align: center;
    color: #333333;
}

body {
    margin-top: 50px;
}


h1 {
    margin: 50px auto 30px;
}


.side-by-side {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}


.humidity-icon {
    background-color: #3498db;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 36px;
}


.humidity-text {
    font-weight: 600;
    padding-left: 15px;
    font-size: 19px;
    width: 160px;
    text-align: left;
}


.humidity {
    font-weight: 300;
    font-size: 60px;
    color: #3498db;
}


.superscript {
    font-size: 17px;
    font-weight: 600;
    position: absolute;
    right: -20px;
    top: 15px;
}


.data {
    padding: 10px;
}